@use"../setting"as *;

@mixin flex_center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute_center() {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}