$white_rgba: rgba(255, 254, 254, 0.72);
$white: #fff;
$black: #333;
$grey: rgba(237, 237, 237, 1);
$pink: rgba(208, 125, 155, 1);
$yellow: rgba(234, 161, 53, 1);
$brown: rgba(187, 153, 64, 1);
$blue: rgba(172, 207, 226, 1);
$grey2: rgba(0, 0, 0, 0.59);